@tailwind base;
@tailwind components;
@tailwind utilities;



.Toastify__toast {
    width: 40vw !important;         
    font-size: 1.25rem;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    background-color: #ecfdf5;
    color: #065f46;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
  }
  

  .Toastify__toast-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
  }
  
 
  .Toastify__toast-container {
    top: 5vh !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  